.item{
    padding: 0;
    margin-bottom: 40px;
    color: rgb(247, 13, 122);
    text-align: center;
    list-style-type: none;
}
.expense{
    border-right:5px solid red
}
.income{
    border-right:5px solid green
}