@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
*{ 
  box-sizing: border-box; 
  font-family: 'Prompt', sans-serif;
  /* ขนาดจริง */
  
}
body{
  background-color: rgb(217, 220, 224);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  margin: 0;
}
.container{
  margin: 30px auto ;
  width: 350px;
}
.horizontal-manu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background:#333 ;
  text-align: center;
}
.horizontal-manu li{
  display: inline-block;
}
.horizontal-manu a{
  color: white;
  text-decoration: none;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.horizontal-manu a:hover{
  color: red;
}
